<h1>Posts</h1>
<ul>
  <%= render @posts %>
</ul>

<%= link_to "New Post", new_post_path %>

<% if user_signed_in? %>
  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
<% else %>
  <%= button_to "sign in", user_session_path %>
<% end %>
